/* login page */
#background-video {
min-width: 100%;
min-height: 100%;
position: fixed;
left: 0;
top: 0;
z-index: -1;
}


body {
  background-image: url(https://cdn.webdesigntunes.com/wp-content/uploads/2013/06/09150707/white-wood.jpg);
}

.App {
  /*font-family: 'Josefin Sans', sans-serif;*/


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form {
  position:absolute;
  bottom: 5%;
  width: 100%;
}



/*goal-page css*/
.goal-page .milestones ul {
  list-style-type: none;
}

input.inputBox {
  width: 51%;
}

#formControlsSelect {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

article.milestone {

}

article.milestone img {
  margin-bottom: -9%;
  margin-left: -29%;
}

span.add-step-button {
  margin-left: -8%;
}

div.App-Bar {
  position: absolute;
  /*z-index: -1;*/
  padding-bottom: 27px;
}

.App-Bar>h1 {
  line-height: 120px !important;
  padding-left: 40px !important;
  height: 102px !important;
  font-size: 60px !important;
  font-family: 'Lemon', cursive !important;
  text-align: center;
  padding-top: 13px;
}

.creator-info {
  font-family: 'Eczar', serif;
  font-style: italic;
  margin-top: -10%;
  margin-bottom: 10%;
  margin-left: -11%;
  font-size: 30px;
}

.milestone-image {
  margin-right: 2%;
}

/*group-page css*/

.group>ul {
  margin: 30px;
}
.group .notification-box ul {
  padding: 0px;
  margin-top: 10px;
}

#notificationUL {
  padding: 0px;
}

#notificationList {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 50%;
  display: inline-block;
  margin-right: 10%;
  position: absolute;
  left: 5%;
  background-color: white;
}

.page-header {
  border-radius: 15px;
  background-color: white;
  color: #7cb1c1;
  padding: 10px;
  margin: 40px 10px 20px;
}

#moneyStatus {
  float: right;
  padding-top: 21%;
  padding-left: 12%;
  width: 131px;
}

#group-name {
  margin-top: 168px;
  font-size: 35px;
  text-align: center;
}

.leaderBoard {
  right: 4%;
  text-align: center;
}
/*checkbox*/
.checkbox div {
  display: flex;
  flex-direction: row-reverse !important;
}

.checkbox {
  float: left;
  width: inherit !important;
}

/* nav -------> */
#dropdown-menu-group {
  display: inline-block;
}

#notification-bell {
  display:inline-block;
}

header {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.nav-right {
  margin-top: 6%;
}

h1.goal-title {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 47px;
  margin-bottom: 10%;
  margin-top: -9%;
}

#dropdown-menu-goal {
  float: right;
  margin-right: -10%;
}

#group-huddle {
  color: black;
}

a#group-huddle:hover {
  text-decoration: none;
}

#my-goals {
  color: black;
}

a#my-goals:hover{
  text-decoration: none;
}


.App-Bar {
  display: flex;
  flex-direction: row;
  margin-top: -1%;
  padding-top: 10px;
}

div#moneyStatus {
  display: flex;
  flex-direction: column;
}

div#money-total {
  order: 2;
  margin: 0;
  text-align: center;
}

div#money-pot {
  order: 1;
}

.App-Bar h1 {
  line-height: 110px;
}



.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.leaderBoard {
  width: 40%;
  float: right;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: white;
}

img#potato-image {
  margin-left: -6.5%;
  margin-bottom: -7%;
  border-radius: 100%;
}

.home-page {
  margin-bottom: -3px;
}

span.username {
  font-size: 22px;
  margin-right: 5px;
}

span.money-total {
  display: block;
  z-index: 3;
  margin-top: -48%;
  color: white;
  margin-left: 12%;
}

div#money-pot {
  font-weight:800;
  display: flex;
  flex-direction: row;
  margin-bottom: -7%;
  margin-top: -16%;
  margin-left: 20%;
}



span#group-money {
  order: 2;
  margin-top: 0%;
  margin-left: -7%;
  font-size: 17px;
  color: black;
}



article.goal {
  /*display: flex;
  align-items: flex-start;*/
  border: 1px solid #e2dcdc;
  margin-top: 14%;
  border-radius: 1%;
  margin-bottom: 12%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 10%;

  /*background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;*/
  width: 85%;
  height: auto;
  font: normal 14px verdana;
  line-height: 30px;
  border: solid 1px #ddd;
  box-shadow: 6px 2px 2px #888888;
}

.goal-header {
  text-align: center;
}



div.milestone-box {

}

h2.milestone-title {
  /*float: left;*/
  font-family: 'Itim', cursive;
  font-size: 37px;
}

.checkbox {
  float: left;
  width: inherit !important;
}

/*parent */
div.step-box {
  display: flex;
  flex-direction: column;
}

/* children */
h3.step-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  float: left;
  margin-left: 10%;
  margin-top: -3%;
  width: 100%;
  font-family: 'Itim', cursive;
  /*font-family: italic;*/
}

 /*grandchildren */
img.step-image {
  flex-direction: row;
  float: left;
}

img.trophy {
  position: relative;
  top: -66px;
  left: 322px;
  margin-bottom: 4%;
}


span.step-title {
  float: left;
  margin-left: 10%;
  overflow-wrap: break-word;
  margin-right: 17%;
}

.medal {
  margin-left: -269%;
  margin-top: -124%;
}
