.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fbf3db;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  position: absolute;
  /*z-index: 5;*/
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #fbf3db;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


.form {
  position:absolute;
  bottom: 5%;
  width: 100%;
}



/*goal-page css*/
.goal-page .milestones ul {
  list-style-type: none;
}

input.inputBox {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#formControlsSelect {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

article.milestone {

}

article.milestone img {
  margin-bottom: -9%;
  margin-left: -29%;
}

span.add-step-button {
  margin-left: -8%;
}

.App-Bar {
  position: absolute;
  /*z-index: -1;*/
}

/*group-page css*/

.group>ul {
  margin: 30px;
}
.group .notification-box ul {
  padding: 0px;
  margin-top: 10px;
}

.page-header {
  border-radius: 15px;
  background-color: white;
  color: #7cb1c1;
  padding: 10px;
  margin: 40px 10px 20px;
}

/*checkbox*/
.checkbox {
  margin-top: 50%;
  margin-left: 50%;
}

#dropdown-menu-group {
  float: right;
  margin-right: -10%;
}

#dropdown-menu-goal {
  float: right;
  margin-right: -10%;
}

#group-huddle {
  color: black;
}

a#group-huddle:hover {
  text-decoration: none;
}

#my-goals {
  color: black;
}

a#my-goals:hover{
  text-decoration: none;
}
